* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: #82C8E5;
}

.paper-container {
    width: 90vmin;
    height: auto; 
    background-color: #c7c7c7ff; 
    border: black solid 5px; 

    margin-top: 5em;
    margin-bottom: 5em; 
    padding: 4em 5em 5em 5em; 

    display: flex; 
    flex-direction: column;
    align-items: center;
} 

h1, h2 {
    text-align: center;
}

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
} 

#header-box {
    width: 100%;
    height: fit-content;
    background-color: #a7a7a7ff; 
}

#hubble-img, #cdc-img {
    width: 100%;
    height: auto;

    padding-top: 1em;
} 
/* alert text */
.alert {
    margin-top: 0.5em;
    border: black solid 1px;
    padding: 0.5em 1em;
}

/* content: same style for these parts */
.link-container, .news-container {
    padding-top: 1em; 
    margin-bottom: 1em;
}

#content-left, .news-container {
    font-size: 20px;
}

/* content: links and meme image */ 
h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.content {
    padding-top: 1em; 
    
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
} 

.link-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 1px;
    flex-direction: row;
    justify-content: space-between;
} 

#content-left {
    width: 50%; 
    margin-bottom: 5px;
    
    flex: 1;

    display: flex; 
    flex-direction: column; 
    justify-items: flex-start;
} 

#but {
    font-size: 16px;
}
#meme-img {
    width: 200px;
    height: auto; 
    flex: 1;
} 