* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #82C8E5; 
    background-image: url("./img/cloud-bottom2.svg"); 
    background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed; 
    background-size: 400px;
} 

/* --------- Header ---------- */

.header { 
    width: 75%;
    height: 30%;
    text-align: center; 
    position: relative; 

    margin-top: 1rem;
} 

.header img {
    height: 100%; 
    width: 100%;
} 

#cmsn { 
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 

    font-size: 3.5vmin;
} 

/* ---------- Buttons ---------- */

.container { 
    width: 70%;
    height: auto;
    padding: 1em 5% 10%;
    
    flex-direction: row;
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
    align-content: center;
}

.container img {
    width: 100px; 
    height: auto; 
} 